*.apk binary
*.aab binary
*.jar binary
*.class binary
*.dex binary
*.so binary
*.keystore binary
*.jks binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.svg text
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.mp3 binary
*.mp4 binary
*.wav binary
*.ogg binary
*.pdf binary
*.eot binary
